.friend-board {
  position: relative;
}

.board-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
  height: calc(100vh - 80px);
}

.board-top,
.board-bottom {
  display: flex;
  justify-content: center;
}

.board-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.board-middle > .seat-left {
  position: absolute;
  left: 0;
}

.board-middle > .seat-right {
  position: absolute;
  right: 0;
}
